<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lancer(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,154}</string>
                <key>spriteSourceSize</key>
                <string>{172,154}</string>
                <key>textureRect</key>
                <string>{{1,273},{172,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lancer(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,148}</string>
                <key>spriteSourceSize</key>
                <string>{209,148}</string>
                <key>textureRect</key>
                <string>{{157,287},{209,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lancer(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,162}</string>
                <key>spriteSourceSize</key>
                <string>{167,162}</string>
                <key>textureRect</key>
                <string>{{784,1},{167,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lancer(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,128}</string>
                <key>spriteSourceSize</key>
                <string>{311,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{311,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lancer(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,140}</string>
                <key>spriteSourceSize</key>
                <string>{295,140}</string>
                <key>textureRect</key>
                <string>{{1,131},{295,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lancer(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,140}</string>
                <key>spriteSourceSize</key>
                <string>{295,140}</string>
                <key>textureRect</key>
                <string>{{1,131},{295,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lancer(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,138}</string>
                <key>spriteSourceSize</key>
                <string>{194,138}</string>
                <key>textureRect</key>
                <string>{{774,165},{194,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lancer(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,134}</string>
                <key>spriteSourceSize</key>
                <string>{202,134}</string>
                <key>textureRect</key>
                <string>{{566,277},{202,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lancer(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,138}</string>
                <key>spriteSourceSize</key>
                <string>{194,138}</string>
                <key>textureRect</key>
                <string>{{770,305},{194,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lancer(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,132}</string>
                <key>spriteSourceSize</key>
                <string>{226,132}</string>
                <key>textureRect</key>
                <string>{{556,1},{226,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lancer(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,142}</string>
                <key>spriteSourceSize</key>
                <string>{196,142}</string>
                <key>textureRect</key>
                <string>{{368,287},{196,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lancer(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,142}</string>
                <key>spriteSourceSize</key>
                <string>{216,142}</string>
                <key>textureRect</key>
                <string>{{298,143},{216,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lancer(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,140}</string>
                <key>spriteSourceSize</key>
                <string>{240,140}</string>
                <key>textureRect</key>
                <string>{{314,1},{240,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lancer(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,140}</string>
                <key>spriteSourceSize</key>
                <string>{216,140}</string>
                <key>textureRect</key>
                <string>{{556,135},{216,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Lancer.png</string>
            <key>size</key>
            <string>{969,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:032a0a1cd1832210bba5ea7990452165:2de0add0dbd344d3612a1f8a0a558365:d7129a511aa06bc36b87332f4c20b6b7$</string>
            <key>textureFileName</key>
            <string>Lancer.png</string>
        </dict>
    </dict>
</plist>
