<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>General(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,176}</string>
                <key>spriteSourceSize</key>
                <string>{138,176}</string>
                <key>textureRect</key>
                <string>{{205,311},{138,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,154}</string>
                <key>spriteSourceSize</key>
                <string>{202,154}</string>
                <key>textureRect</key>
                <string>{{1,311},{202,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,150}</string>
                <key>spriteSourceSize</key>
                <string>{178,150}</string>
                <key>textureRect</key>
                <string>{{281,1},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,154}</string>
                <key>spriteSourceSize</key>
                <string>{264,154}</string>
                <key>textureRect</key>
                <string>{{1,155},{264,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,152}</string>
                <key>spriteSourceSize</key>
                <string>{278,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,152}</string>
                <key>spriteSourceSize</key>
                <string>{278,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,176}</string>
                <key>spriteSourceSize</key>
                <string>{148,176}</string>
                <key>textureRect</key>
                <string>{{1,643},{148,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>General(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,174}</string>
                <key>spriteSourceSize</key>
                <string>{152,174}</string>
                <key>textureRect</key>
                <string>{{1,467},{152,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,176}</string>
                <key>spriteSourceSize</key>
                <string>{148,176}</string>
                <key>textureRect</key>
                <string>{{179,643},{148,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>General(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,182}</string>
                <key>spriteSourceSize</key>
                <string>{118,182}</string>
                <key>textureRect</key>
                <string>{{357,609},{118,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{155,489},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{357,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{357,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{357,457},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>General.png</string>
            <key>size</key>
            <string>{508,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0849dcfb0797dd992b480f30a421a6fc:84103f76e6d2eca3a3bddc085101c253:44437fd4b711549051eb187c6dcf4ee6$</string>
            <key>textureFileName</key>
            <string>General.png</string>
        </dict>
    </dict>
</plist>
