<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WinterSoldier(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-26}</string>
                <key>spriteSize</key>
                <string>{146,144}</string>
                <key>spriteSourceSize</key>
                <string>{146,144}</string>
                <key>textureRect</key>
                <string>{{1877,1},{146,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WinterSoldier(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-27}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,146}</string>
                <key>textureRect</key>
                <string>{{1437,1},{150,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WinterSoldier(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-21}</string>
                <key>spriteSize</key>
                <string>{166,160}</string>
                <key>spriteSourceSize</key>
                <string>{166,160}</string>
                <key>textureRect</key>
                <string>{{173,1},{166,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WinterSoldier(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-22}</string>
                <key>spriteSize</key>
                <string>{178,154}</string>
                <key>spriteSourceSize</key>
                <string>{178,154}</string>
                <key>textureRect</key>
                <string>{{495,1},{178,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WinterSoldier(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-33}</string>
                <key>spriteSize</key>
                <string>{170,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WinterSoldier(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-33}</string>
                <key>spriteSize</key>
                <string>{170,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WinterSoldier(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-26}</string>
                <key>spriteSize</key>
                <string>{148,144}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{1585,1},{148,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WinterSoldier(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-27}</string>
                <key>spriteSize</key>
                <string>{152,144}</string>
                <key>spriteSourceSize</key>
                <string>{152,144}</string>
                <key>textureRect</key>
                <string>{{1291,1},{152,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WinterSoldier(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-27}</string>
                <key>spriteSize</key>
                <string>{148,144}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{1731,1},{148,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WinterSoldier(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1137,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WinterSoldier(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-26}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{675,1},{154,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WinterSoldier(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-26}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{829,1},{154,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WinterSoldier(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-26}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{341,1},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WinterSoldier(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-27}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{983,1},{154,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WinterSoldier.png</string>
            <key>size</key>
            <string>{2022,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31a72b170117d3351852ef3dea0791c9:3511c476e9561124c91bfe15d57e7768:797c42db1331ba65432eed06e0bf1aa7$</string>
            <key>textureFileName</key>
            <string>WinterSoldier.png</string>
        </dict>
    </dict>
</plist>
