<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Swordman (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{92,154}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{151,301},{92,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordman (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-9}</string>
                <key>spriteSize</key>
                <string>{160,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordman (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-9}</string>
                <key>spriteSize</key>
                <string>{148,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,293},{148,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordman (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-10}</string>
                <key>spriteSize</key>
                <string>{152,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,147},{152,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordman (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-19}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,439},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordman (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-19}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,439},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordman (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{92,152}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{147,457},{92,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordman (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{92,142}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{103,611},{92,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordman (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-15}</string>
                <key>spriteSize</key>
                <string>{92,154}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{95,797},{92,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordman (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{98,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{155,153},{98,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordman (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-6}</string>
                <key>spriteSize</key>
                <string>{90,150}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{163,1},{90,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordman (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-6}</string>
                <key>spriteSize</key>
                <string>{90,148}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{103,705},{90,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordman (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-5}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,585},{100,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordman (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-6}</string>
                <key>spriteSize</key>
                <string>{92,150}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,739},{92,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Swordman.png</string>
            <key>size</key>
            <string>{254,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50d0dff5bade66ee3ce752a8c932bdb9:3d4f3b7a8b389643546a581941162270:1b408d1ccb0397032d95b1e1aa88e61b$</string>
            <key>textureFileName</key>
            <string>Swordman.png</string>
        </dict>
    </dict>
</plist>
