<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Barrack(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,108}</string>
                <key>spriteSourceSize</key>
                <string>{133,108}</string>
                <key>textureRect</key>
                <string>{{257,0},{133,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,102}</string>
                <key>spriteSourceSize</key>
                <string>{131,102}</string>
                <key>textureRect</key>
                <string>{{126,0},{131,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrack(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,79}</string>
                <key>spriteSourceSize</key>
                <string>{126,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{126,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefendingBase(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,286}</string>
                <key>spriteSourceSize</key>
                <string>{361,286}</string>
                <key>textureRect</key>
                <string>{{610,839},{361,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefendingBase(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,280}</string>
                <key>spriteSourceSize</key>
                <string>{361,280}</string>
                <key>textureRect</key>
                <string>{{249,839},{361,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefendingBase(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,233}</string>
                <key>spriteSourceSize</key>
                <string>{356,233}</string>
                <key>textureRect</key>
                <string>{{617,158},{356,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,286}</string>
                <key>spriteSourceSize</key>
                <string>{361,286}</string>
                <key>textureRect</key>
                <string>{{610,839},{361,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,280}</string>
                <key>spriteSourceSize</key>
                <string>{361,280}</string>
                <key>textureRect</key>
                <string>{{249,839},{361,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,233}</string>
                <key>spriteSourceSize</key>
                <string>{356,233}</string>
                <key>textureRect</key>
                <string>{{617,158},{356,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Factory(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,244}</string>
                <key>spriteSourceSize</key>
                <string>{358,244}</string>
                <key>textureRect</key>
                <string>{{370,483},{358,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Factory(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,229}</string>
                <key>spriteSourceSize</key>
                <string>{370,229}</string>
                <key>textureRect</key>
                <string>{{0,483},{370,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Factory(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,202}</string>
                <key>spriteSourceSize</key>
                <string>{368,202}</string>
                <key>textureRect</key>
                <string>{{0,158},{368,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Manhattan(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,359}</string>
                <key>spriteSourceSize</key>
                <string>{249,359}</string>
                <key>textureRect</key>
                <string>{{0,839},{249,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Manhattan(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,356}</string>
                <key>spriteSourceSize</key>
                <string>{251,356}</string>
                <key>textureRect</key>
                <string>{{728,483},{251,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Manhattan(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,325}</string>
                <key>spriteSourceSize</key>
                <string>{249,325}</string>
                <key>textureRect</key>
                <string>{{368,158},{249,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NuclearSilo(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,256}</string>
                <key>spriteSourceSize</key>
                <string>{436,256}</string>
                <key>textureRect</key>
                <string>{{0,1440},{436,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NuclearSilo(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,240}</string>
                <key>spriteSourceSize</key>
                <string>{436,240}</string>
                <key>textureRect</key>
                <string>{{416,1198},{436,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NuclearSilo(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,242}</string>
                <key>spriteSourceSize</key>
                <string>{416,242}</string>
                <key>textureRect</key>
                <string>{{0,1198},{416,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerStation(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,158}</string>
                <key>spriteSourceSize</key>
                <string>{166,158}</string>
                <key>textureRect</key>
                <string>{{716,0},{166,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerStation(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,156}</string>
                <key>spriteSourceSize</key>
                <string>{160,156}</string>
                <key>textureRect</key>
                <string>{{556,0},{160,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerStation(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,108}</string>
                <key>spriteSourceSize</key>
                <string>{166,108}</string>
                <key>textureRect</key>
                <string>{{390,0},{166,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RepairFactory0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,249}</string>
                <key>spriteSourceSize</key>
                <string>{465,249}</string>
                <key>textureRect</key>
                <string>{{436,1440},{465,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RepairFactory1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,280}</string>
                <key>spriteSourceSize</key>
                <string>{465,280}</string>
                <key>textureRect</key>
                <string>{{465,1696},{465,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RepairFactory2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,249}</string>
                <key>spriteSourceSize</key>
                <string>{465,249}</string>
                <key>textureRect</key>
                <string>{{0,1696},{465,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Buildings.png</string>
            <key>size</key>
            <string>{979,1976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:711a2bc3fbe27071ebc3f399fb12e804:cb6f871d584c9158b2a70fccaeb4332f:85334af9acf0288085ccda828caacb0c$</string>
            <key>textureFileName</key>
            <string>Buildings.png</string>
        </dict>
    </dict>
</plist>
