<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Witch(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-18}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{138,162}</string>
                <key>textureRect</key>
                <string>{{1327,1},{138,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-17}</string>
                <key>spriteSize</key>
                <string>{130,156}</string>
                <key>spriteSourceSize</key>
                <string>{130,156}</string>
                <key>textureRect</key>
                <string>{{1769,1},{130,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-13}</string>
                <key>spriteSize</key>
                <string>{156,164}</string>
                <key>spriteSourceSize</key>
                <string>{156,164}</string>
                <key>textureRect</key>
                <string>{{729,1},{156,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-17}</string>
                <key>spriteSize</key>
                <string>{170,172}</string>
                <key>spriteSourceSize</key>
                <string>{170,172}</string>
                <key>textureRect</key>
                <string>{{415,1},{170,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{116,178}</string>
                <key>spriteSourceSize</key>
                <string>{116,178}</string>
                <key>textureRect</key>
                <string>{{155,1},{116,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{116,178}</string>
                <key>spriteSourceSize</key>
                <string>{116,178}</string>
                <key>textureRect</key>
                <string>{{155,1},{116,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-20}</string>
                <key>spriteSize</key>
                <string>{144,158}</string>
                <key>spriteSourceSize</key>
                <string>{144,158}</string>
                <key>textureRect</key>
                <string>{{1623,1},{144,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-18}</string>
                <key>spriteSize</key>
                <string>{156,162}</string>
                <key>spriteSourceSize</key>
                <string>{156,162}</string>
                <key>textureRect</key>
                <string>{{1169,1},{156,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-22}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{1467,1},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-21}</string>
                <key>spriteSize</key>
                <string>{146,164}</string>
                <key>spriteSourceSize</key>
                <string>{146,164}</string>
                <key>textureRect</key>
                <string>{{887,1},{146,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-4}</string>
                <key>spriteSize</key>
                <string>{132,164}</string>
                <key>spriteSourceSize</key>
                <string>{132,164}</string>
                <key>textureRect</key>
                <string>{{1035,1},{132,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{140,170}</string>
                <key>spriteSourceSize</key>
                <string>{140,170}</string>
                <key>textureRect</key>
                <string>{{587,1},{140,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-8}</string>
                <key>spriteSize</key>
                <string>{152,178}</string>
                <key>spriteSourceSize</key>
                <string>{152,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Witch(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-10}</string>
                <key>spriteSize</key>
                <string>{140,176}</string>
                <key>spriteSourceSize</key>
                <string>{140,176}</string>
                <key>textureRect</key>
                <string>{{273,1},{140,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Witch.png</string>
            <key>size</key>
            <string>{1900,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a58de78fe15307e3f5e3b8fefec7018c:0a4a57b97c81bc7249cd4a5b5108824c:c25fc8433c2b4fc7ed58f2772a37e7fd$</string>
            <key>textureFileName</key>
            <string>Witch.png</string>
        </dict>
    </dict>
</plist>
