<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Engineer(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{739,1},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Engineer(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,149}</string>
                <key>spriteSourceSize</key>
                <string>{139,149}</string>
                <key>textureRect</key>
                <string>{{1360,1},{139,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Engineer(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,146}</string>
                <key>spriteSourceSize</key>
                <string>{167,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{167,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Engineer(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,136}</string>
                <key>spriteSourceSize</key>
                <string>{208,136}</string>
                <key>textureRect</key>
                <string>{{1738,1},{208,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Engineer(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,137}</string>
                <key>spriteSourceSize</key>
                <string>{225,137}</string>
                <key>textureRect</key>
                <string>{{1511,1},{225,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Engineer(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,137}</string>
                <key>spriteSourceSize</key>
                <string>{225,137}</string>
                <key>textureRect</key>
                <string>{{1511,1},{225,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Engineer(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,141}</string>
                <key>spriteSourceSize</key>
                <string>{120,141}</string>
                <key>textureRect</key>
                <string>{{988,1},{120,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Engineer(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,141}</string>
                <key>spriteSourceSize</key>
                <string>{125,141}</string>
                <key>textureRect</key>
                <string>{{861,1},{125,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Engineer(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,141}</string>
                <key>spriteSourceSize</key>
                <string>{120,141}</string>
                <key>textureRect</key>
                <string>{{1110,1},{120,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Engineer(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,140}</string>
                <key>spriteSourceSize</key>
                <string>{126,140}</string>
                <key>textureRect</key>
                <string>{{1232,1},{126,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Engineer(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,144}</string>
                <key>spriteSourceSize</key>
                <string>{140,144}</string>
                <key>textureRect</key>
                <string>{{170,1},{140,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Engineer(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{140,142}</string>
                <key>textureRect</key>
                <string>{{597,1},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Engineer(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,144}</string>
                <key>spriteSourceSize</key>
                <string>{139,144}</string>
                <key>textureRect</key>
                <string>{{312,1},{139,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Engineer(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{453,1},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Engineer.png</string>
            <key>size</key>
            <string>{1947,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74d68a820b1c985d185de291e6af0468:83061d3831c8bbe905cfd540e6c75af5:bc7f105659bfeffc5a44af970e7fdc50$</string>
            <key>textureFileName</key>
            <string>Engineer.png</string>
        </dict>
    </dict>
</plist>
