<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roshambo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roshambo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,200}</string>
                <key>spriteSourceSize</key>
                <string>{135,200}</string>
                <key>textureRect</key>
                <string>{{150,0},{135,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roshambo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{285,0},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>roshambo.png</string>
            <key>size</key>
            <string>{435,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e93f9effd2b33711f1de317c4ffe07fa:829f14ecdb6c0615652bfd9ab76447b8:841ab76242f7588ee919ab51d684c3d3$</string>
            <key>textureFileName</key>
            <string>roshambo.png</string>
        </dict>
    </dict>
</plist>
