<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Assassin(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1149,1},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,132}</string>
                <key>spriteSourceSize</key>
                <string>{162,132}</string>
                <key>textureRect</key>
                <string>{{1415,1},{162,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,136}</string>
                <key>spriteSourceSize</key>
                <string>{196,136}</string>
                <key>textureRect</key>
                <string>{{951,1},{196,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,122}</string>
                <key>spriteSourceSize</key>
                <string>{172,122}</string>
                <key>textureRect</key>
                <string>{{1729,1},{172,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,122}</string>
                <key>spriteSourceSize</key>
                <string>{172,122}</string>
                <key>textureRect</key>
                <string>{{1729,1},{172,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,146}</string>
                <key>spriteSourceSize</key>
                <string>{136,146}</string>
                <key>textureRect</key>
                <string>{{149,1},{136,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,148}</string>
                <key>spriteSourceSize</key>
                <string>{132,148}</string>
                <key>textureRect</key>
                <string>{{1579,1},{132,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Assassin(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,146}</string>
                <key>spriteSourceSize</key>
                <string>{130,146}</string>
                <key>textureRect</key>
                <string>{{421,1},{130,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,134}</string>
                <key>spriteSourceSize</key>
                <string>{126,134}</string>
                <key>textureRect</key>
                <string>{{1287,1},{126,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,142}</string>
                <key>spriteSourceSize</key>
                <string>{134,142}</string>
                <key>textureRect</key>
                <string>{{815,1},{134,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,146}</string>
                <key>spriteSourceSize</key>
                <string>{126,146}</string>
                <key>textureRect</key>
                <string>{{553,1},{126,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{132,144}</string>
                <key>textureRect</key>
                <string>{{681,1},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,146}</string>
                <key>spriteSourceSize</key>
                <string>{132,146}</string>
                <key>textureRect</key>
                <string>{{287,1},{132,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Assassin.png</string>
            <key>size</key>
            <string>{1902,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d485f8874e508549a5def1d616280fc:0f5539d35423e2b85edc696f5aec029c:b005b0a5999838e561f0b7a3d1f9df84$</string>
            <key>textureFileName</key>
            <string>Assassin.png</string>
        </dict>
    </dict>
</plist>
