<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Wizzard(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,151}</string>
                <key>spriteSourceSize</key>
                <string>{177,151}</string>
                <key>textureRect</key>
                <string>{{1,970},{177,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wizzard(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,133}</string>
                <key>spriteSourceSize</key>
                <string>{161,133}</string>
                <key>textureRect</key>
                <string>{{374,787},{161,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wizzard(15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,180}</string>
                <key>spriteSourceSize</key>
                <string>{169,180}</string>
                <key>textureRect</key>
                <string>{{1,799},{169,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wizzard(16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,239}</string>
                <key>spriteSourceSize</key>
                <string>{154,239}</string>
                <key>textureRect</key>
                <string>{{253,489},{154,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wizzard(17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,250}</string>
                <key>spriteSourceSize</key>
                <string>{174,250}</string>
                <key>textureRect</key>
                <string>{{1,489},{174,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wizzard(18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,250}</string>
                <key>spriteSourceSize</key>
                <string>{174,250}</string>
                <key>textureRect</key>
                <string>{{1,489},{174,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wizzard(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,148}</string>
                <key>spriteSourceSize</key>
                <string>{166,148}</string>
                <key>textureRect</key>
                <string>{{180,1085},{166,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wizzard(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,145}</string>
                <key>spriteSourceSize</key>
                <string>{163,145}</string>
                <key>textureRect</key>
                <string>{{348,1129},{163,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wizzard(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,148}</string>
                <key>spriteSourceSize</key>
                <string>{165,148}</string>
                <key>textureRect</key>
                <string>{{1,1123},{165,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wizzard(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,148}</string>
                <key>spriteSourceSize</key>
                <string>{177,148}</string>
                <key>textureRect</key>
                <string>{{362,950},{177,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wizzard(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,138}</string>
                <key>spriteSourceSize</key>
                <string>{181,138}</string>
                <key>textureRect</key>
                <string>{{191,787},{181,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wizzard(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{253,645},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wizzard(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{183,927},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wizzard(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,132}</string>
                <key>spriteSourceSize</key>
                <string>{188,132}</string>
                <key>textureRect</key>
                <string>{{1,665},{188,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wizzard(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,151}</string>
                <key>spriteSourceSize</key>
                <string>{177,151}</string>
                <key>textureRect</key>
                <string>{{1,970},{177,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wizzard(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,148}</string>
                <key>spriteSourceSize</key>
                <string>{166,148}</string>
                <key>textureRect</key>
                <string>{{180,1085},{166,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wizzard(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,145}</string>
                <key>spriteSourceSize</key>
                <string>{163,145}</string>
                <key>textureRect</key>
                <string>{{348,1129},{163,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wizzard(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,148}</string>
                <key>spriteSourceSize</key>
                <string>{165,148}</string>
                <key>textureRect</key>
                <string>{{1,1123},{165,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wizzard_range_attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{500,486}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Wizzard.png</string>
            <key>size</key>
            <string>{512,1275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:221f84672f2bebcbc169b8075f9c1f1d:077e3e90305a9909922803fb8d005bfa:f1ea215c5dd8615dbffc9ca6287d8883$</string>
            <key>textureFileName</key>
            <string>Wizzard.png</string>
        </dict>
    </dict>
</plist>
