<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>defence_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,2000}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{0,0},{2000,2000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hostile_hp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,8}</string>
                <key>spriteSourceSize</key>
                <string>{300,8}</string>
                <key>textureRect</key>
                <string>{{0,2000},{300,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,8}</string>
                <key>spriteSourceSize</key>
                <string>{300,8}</string>
                <key>textureRect</key>
                <string>{{300,2000},{300,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effects.png</string>
            <key>size</key>
            <string>{2000,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd579a065366417177e23e37bf5084e9:9986197b157cbab390ae77f6538018b7:ed94ff99ccfdc1a5d4b266f4603472f0$</string>
            <key>textureFileName</key>
            <string>effects.png</string>
        </dict>
    </dict>
</plist>
