<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackMagician(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-32}</string>
                <key>spriteSize</key>
                <string>{188,136}</string>
                <key>spriteSourceSize</key>
                <string>{188,136}</string>
                <key>textureRect</key>
                <string>{{803,297},{188,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackMagician(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-35}</string>
                <key>spriteSize</key>
                <string>{226,128}</string>
                <key>spriteSourceSize</key>
                <string>{226,128}</string>
                <key>textureRect</key>
                <string>{{479,1},{226,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackMagician(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-16}</string>
                <key>spriteSize</key>
                <string>{280,136}</string>
                <key>spriteSourceSize</key>
                <string>{280,136}</string>
                <key>textureRect</key>
                <string>{{341,1},{280,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackMagician(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-7}</string>
                <key>spriteSize</key>
                <string>{326,178}</string>
                <key>spriteSourceSize</key>
                <string>{326,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{326,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackMagician(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-19}</string>
                <key>spriteSize</key>
                <string>{306,158}</string>
                <key>spriteSourceSize</key>
                <string>{306,158}</string>
                <key>textureRect</key>
                <string>{{181,1},{306,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackMagician(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-19}</string>
                <key>spriteSize</key>
                <string>{306,158}</string>
                <key>spriteSourceSize</key>
                <string>{306,158}</string>
                <key>textureRect</key>
                <string>{{181,1},{306,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackMagician(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-30}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{763,155},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackMagician(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-29}</string>
                <key>spriteSize</key>
                <string>{192,142}</string>
                <key>spriteSourceSize</key>
                <string>{192,142}</string>
                <key>textureRect</key>
                <string>{{201,309},{192,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackMagician(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-31}</string>
                <key>spriteSize</key>
                <string>{192,138}</string>
                <key>spriteSourceSize</key>
                <string>{192,138}</string>
                <key>textureRect</key>
                <string>{{663,297},{192,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackMagician(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-25}</string>
                <key>spriteSize</key>
                <string>{190,152}</string>
                <key>spriteSourceSize</key>
                <string>{190,152}</string>
                <key>textureRect</key>
                <string>{{763,1},{190,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackMagician(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-14}</string>
                <key>spriteSize</key>
                <string>{196,152}</string>
                <key>spriteSourceSize</key>
                <string>{196,152}</string>
                <key>textureRect</key>
                <string>{{609,1},{196,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackMagician(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-20}</string>
                <key>spriteSize</key>
                <string>{198,160}</string>
                <key>spriteSourceSize</key>
                <string>{198,160}</string>
                <key>textureRect</key>
                <string>{{1,329},{198,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackMagician(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-13}</string>
                <key>spriteSize</key>
                <string>{198,154}</string>
                <key>spriteSourceSize</key>
                <string>{198,154}</string>
                <key>textureRect</key>
                <string>{{345,283},{198,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackMagician(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{196,160}</string>
                <key>spriteSourceSize</key>
                <string>{196,160}</string>
                <key>textureRect</key>
                <string>{{501,229},{196,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlackMagician.png</string>
            <key>size</key>
            <string>{954,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18c80cbd8ae66ec18c62edb69c373ffe:a739d3ea334bf8192af31639bbf78ad9:ae85b656d98e7feb9277a939e60cd46e$</string>
            <key>textureFileName</key>
            <string>BlackMagician.png</string>
        </dict>
    </dict>
</plist>
